
body, div.jumbotron
{
    background-color: #ccc;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: 0em 0em 0.2em #000;
    margin-bottom: .5rem;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

/*
h1 {
    font-size: 3rem;
}
*/